
<h1>Users:</h1>

<table class="table table-dark">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Age</th>
			<th scope="col">E-mail</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Samuel</td>
			<td>19</td>
			<td>samuel@gmail.com</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Pedro</td>
			<td>20</td>
			<td>pedroc@gmail.com</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Julia</td>
			<td>15</td>
			<td>juuuu@gmail.com</td>
		</tr>
	</tbody>
</table>